<main class="container">
  <section class="imagem" id="imagem-print">
    <img [src]="caminhoBackground" alt="background alpaca"
      class="imagem__backgrounds" width="550" height="700">
    <img src="../assets/nose.png" alt="nose alpaca" class="imagem__nose"
      width="450" height="450">
    <img [src]="caminhoEars" alt="ears alpaca" class="imagem__ears" width="420"
      height="420">
    <img [src]="caminhoEyes" alt="eyes alpaca" class="imagem__eyes" width="450"
      height="450">
    <img [src]="caminhoHair" alt="hair alpaca" class="imagem__hair" width="500"
      height="500">
    <img [src]="caminhoLeg" alt="leg alpaca" class="imagem__leg" width="600"
      height="600">
    <img [src]="caminhoMouth" alt="mouth alpaca" class="imagem__mouth"
      width="350" height="350">
    <img [src]="caminhoNeck" alt="neck alpaca" class="imagem__neck" width="500"
      height="600">
    <img [src]="caminhoAccessories" alt="acessories alpaca"
      class="imagem__accessories" width="470" height="490">

  </section>
  <section class="acessorios">
    <h1>Accessorize the alpaca's</h1>
    <div class="acessorios__button" *ngFor="let tipo of tiposAcessorios">
      <button class="button--design"
        (click)="listarAcessorioSelecionado(tipo)">{{tipo}}</button>
    </div>
  </section>
  <section class="estilo">
    <h1>{{acessorioSelecionado | texto_capitalize}}</h1>
    <div class="estilo__botoes-estilo" *ngFor="let name of estilos">
      <button class="button--design" (click)="selecionarEstilo(name)">{{name | texto_undescore}}</button>
    </div>
  </section>
  <section class="botoes">
    <button (click)="realizarDownloadImagemAlpaca()"> DOWNLOAD </button>
  </section>
</main>
