<main class="container">
  <section class="imagem">
    <img [src]="caminhoBackground" alt="background alpaca" class="imagem__backgrounds" width="700" height="700">
    <img src="../assets/nose.png" alt="nose alpaca" class="imagem__nose" width="450" height="450">
    <img [src]="caminhoEars" alt="ears alpaca" class="imagem__ears" width="120" height="120">
    <img [src]="caminhoEyes" alt="eyes alpaca" class="imagem__eyes" width="250" height="250">
    <img [src]="caminhoHair" alt="hair alpaca" class="imagem__hair" width="120" height="120">
    <img [src]="caminhoLeg" alt="leg alpaca" class="imagem__leg" width="600" height="600" >
    <img [src]="caminhoMouth" alt="mouth alpaca" class="imagem__mouth" width="100" height="100">
    <img [src]="caminhoNeck" alt="neck alpaca" class="imagem__neck" width="500" height="500">

  </section>
  <section class="acessorios">
    <h1>Accessorize the alpaca's</h1>
    <div *ngFor="let tipo of tiposAcessorios">
      <button (click)="listarAcessorioSelecionado(tipo)">{{tipo}}</button>
    </div>
  </section>
  <section class="estilo">
    <h1>Style</h1>
    <div class="estilo__botoes-estilo">
      <div *ngFor="let name of estilos">
        <button (click)="selecionarEstilo(name)">{{name}}</button>
      </div>
    </div>
  </section>
  <section class="botoes">

  </section>
</main>
